{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    {% if error %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    <form class="form-login" action="{{ path("fos_user_security_check") }}" method="post">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <fieldset>
            <div class="form-group">
                <span class="input-icon"> <input type="text" required="required" value="{{ last_username }}"
                                                 class="form-control" name="_username" id="username" placeholder="Email">
                    <i class="fa fa-user"></i>
                </span>
            </div>
            <div class="form-group form-actions">
                <span class="input-icon"> <input type="password" required="required"
                                                 class="form-control password" name="_password" id="password"
                                                 placeholder="Password"> <i class="fa fa-lock"></i> <a
                                                 class="forgot" href="javascript:;"> I forgot my password </a>
                </span>
            </div>
            <div class="form-actions">
                <label for="remember_me" class="checkbox-inline"> <input
                        type="checkbox" class="grey remember" id="remember_me" name="_remember_me" value="on">
                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
                <button id="_submit" name="_submit" type="submit" class="btn btn-green pull-right">
                    {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }} <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
            <div class="new-account">
                Don't have an account yet? <a href="/register" class="change"> Create
                    an account </a>
            </div>
        </fieldset>

    </form>

{% endblock fos_user_content %}
