<section id="about">
	<div class="container">

		<div class="section-heading scrollpoint sp-effect3">
			<h1>About Us</h1>
			<div class="divider"></div>
			<p>Oleose Beautiful App Landing Page</p>
		</div>

		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="about-item scrollpoint sp-effect2">
					<i class="fa fa-download fa-2x"></i>
					<h3>Easy setup</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="about-item scrollpoint sp-effect5">
					<i class="fa fa-mobile fa-2x"></i>
					<h3>On-the-go</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="about-item scrollpoint sp-effect5">
					<i class="fa fa-users fa-2x"></i>
					<h3>Social connect</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="about-item scrollpoint sp-effect1">
					<i class="fa fa-sliders fa-2x"></i>
					<h3>Dedicated support</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore.</p>
				</div>
			</div>
		</div>
	</div>
</section>