<section id="getApp">
	<div class="container-fluid">
		<div class="section-heading inverse scrollpoint sp-effect3">
			<h1>Get App</h1>
			<div class="divider"></div>
			<p>Choose your native platform and get started!</p>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="hanging-phone scrollpoint sp-effect2 hidden-xs">
					<img src="{{ asset('assets/oleose/img/eco/eco-angled2.png') }}" alt="">
				</div>
				<div class="platforms">
					<a href="#" class="btn btn-primary inverse scrollpoint sp-effect1">
						<i class="fa fa-android fa-3x pull-left"></i> <span>Download
							for</span><br> <b>Android</b>
					</a> <a href="#" class="btn btn-primary inverse scrollpoint sp-effect2">
						<i class="fa fa-apple fa-3x pull-left"></i> <span>Download
							for</span><br> <b>Apple IOS</b>
					</a>
				</div>

			</div>
		</div>
	</div>
</section>