<header>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="fa fa-bars fa-lg"></span>
                </button>
                <a class="navbar-brand" href="index.html"> <img
                        src="{{asset('assets/images/logo.png')}}" alt=""
                        class="logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">about</a></li>
                    <li><a href="#features">features</a></li>
                    <li><a href="#reviews">reviews</a></li>
                    <li><a href="#screens">screens</a></li>
                    <li><a href="#demo">demo</a></li>
                    <li><a class="getApp" href="/login">Login / Signin</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>


    <!--RevSlider-->
    <div class="tp-banner-container">
        <div class="tp-banner">
        </div>
    </div>
    <!-- / RevSlider-->
</header>