<meta charset="UTF-8">
<title>{{ company_name }}</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="shortcut icon" href="favicon.png">

<link rel="stylesheet" href="{{asset('assets/oleose/css/bootstrap.css') }}">

<link rel="stylesheet" href="{{asset('assets/oleose/css/animate.css') }}">
<link rel="stylesheet" href="{{asset('assets/oleose/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{asset('assets/oleose/css/slick.css') }}">
<link rel="stylesheet" href="{{asset('assets/oleose/js/rs-plugin/css/settings.css') }}">

<script type="text/javascript" src="{{asset('assets/oleose/js/modernizr.custom.32033.js') }}"></script>

<link rel="stylesheet" href="{{asset('assets/oleose/css/eco.css') }}">

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->