<!doctype html>
<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <!-- Head -->
        {{ include('landing/head.html.twig') }}
</head> 

<body>
  
    <div class="pre-loader">
        <div class="load-con">
            <img src="{{ asset('assets/oleose/img/eco/logo.png') }}" class="animated fadeInDown" alt="">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        </div>
    </div>
   
    <!-- Header -->
	{{ include('landing/header.html.twig')}}

    <div class="wrapper">

	<!-- Sections -->
	{{ include('landing/about.html.twig') }}
	{{ include('landing/demo.html.twig') }}
	{{ include('landing/features.html.twig') }}
	{{ include('landing/getApp.html.twig') }}
	{{ include('landing/reviews.html.twig') }}
	{{ include('landing/screens.html.twig') }}
	{{ include('landing/support.html.twig') }}

	<!-- Footer -->
	{{ include('landing/footer.html.twig') }}

    </div>
    <script src="{{ asset('assets/oleose/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('assets/oleose/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/oleose/js/slick.min.js') }}"></script>
    <script src="{{ asset('assets/oleose/js/placeholdem.min.js') }}"></script>
    <script src="{{ asset('assets/oleose/js/rs-plugin/js/jquery.themepunch.plugins.min.js') }}"></script>
    <script src="{{ asset('assets/oleose/js/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script src="{{ asset('assets/oleose/js/waypoints.min.js') }}"></script>
    <script src="{{ asset('assets/oleose/js/scripts.js') }}"></script>
    <script>
        $(document).ready(function() {
            appMaster.preLoader();
        });
    </script>
</body>

</html>