<section id="support" class="doublediagonal">
	<div class="container">
		<div class="section-heading scrollpoint sp-effect3">
			<h1>Support</h1>
			<div class="divider"></div>
			<p>For more info and support, contact us!</p>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-8 col-sm-8 scrollpoint sp-effect1">
						<form role="form">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Your name">
							</div>
							<div class="form-group">
								<input type="email" class="form-control"
									placeholder="Your email">
							</div>
							<div class="form-group">
								<textarea cols="30" rows="10" class="form-control"
									placeholder="Your message"></textarea>
							</div>
							<button type="submit" class="btn btn-primary btn-lg">Submit</button>
						</form>
					</div>
					<div
						class="col-md-4 col-sm-4 contact-details scrollpoint sp-effect2">
						<div class="media">
							<a class="pull-left" href="#"> <i
								class="fa fa-map-marker fa-2x"></i>
							</a>
							<div class="media-body">
								<h4 class="media-heading">4, Some street, California, USA</h4>
							</div>
						</div>
						<div class="media">
							<a class="pull-left" href="#"> <i
								class="fa fa-envelope fa-2x"></i>
							</a>
							<div class="media-body">
								<h4 class="media-heading">
									<a href="mailto:support@@oleose.com">support@@oleose.com</a>
								</h4>
							</div>
						</div>
						<div class="media">
							<a class="pull-left" href="#"> <i class="fa fa-phone fa-2x"></i>
							</a>
							<div class="media-body">
								<h4 class="media-heading">+1 234 567890</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>