<!DOCTYPE html>
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {{ include('rapido/head.html.twig') }}

    <body class="{% block body_class %}{% endblock %}">
    {% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
