<!-- start: FOOTER -->
<footer class="inner">
	<div class="footer-inner">
		<div class="pull-left">
			2015 &copy; {{ company_name }}.
		</div>
		<div class="pull-right">
			<span class="go-top"><i class="fa fa-chevron-up"></i></span>
		</div>
	</div>
</footer>
<!-- end: FOOTER -->