<!-- start: MAIN JAVASCRIPTS -->
<!--[if lt IE 9]>
<script src="{{ asset('assets/plugins/respond.min.js') }}"></script>
<script src="{{ asset('assets/plugins/excanvas.min.js') }}"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!--<![endif]-->
<script src="{{ asset('assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/plugins/blockUI/jquery.blockUI.js') }}"></script>
<script src="{{ asset('assets/plugins/iCheck/jquery.icheck.min.js') }}"></script>
<script src="{{ asset('assets/plugins/moment/min/moment.min.js') }}"></script>
<script src="{{ asset('assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js') }}"></script>
<script src="{{ asset('assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js') }}"></script>
<script src="{{ asset('assets/plugins/bootbox/bootbox.min.js') }}"></script>
<script src="{{ asset('assets/plugins/jquery.scrollTo/jquery.scrollTo.min.js') }}"></script>
<script src="{{ asset('assets/plugins/ScrollToFixed/jquery-scrolltofixed-min.js') }}"></script>
<script src="{{ asset('assets/plugins/jquery.appear/jquery.appear.js') }}"></script>
<script src="{{ asset('assets/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
<script src="{{ asset('assets/plugins/velocity/jquery.velocity.min.js') }}"></script>
<!-- end: MAIN JAVASCRIPTS --> 
<!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
<script src="{{ asset('assets/plugins/owl-carousel/owl-carousel/owl.carousel.js') }}"></script>
<script src="{{ asset('assets/plugins/jquery-mockjax/jquery.mockjax.js') }}"></script>
<script src="{{ asset('assets/plugins/toastr/toastr.js') }}"></script>
<script src="{{ asset('assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-switch/dist/js/bootstrap-switch.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('assets/plugins/jquery-validation/dist/jquery.validate.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js') }}"></script>
<script src="{{ asset('assets/plugins/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/plugins/DataTables/media/js/DT_bootstrap.js') }}"></script>
<script src="{{ asset('assets/plugins/truncate/jquery.truncate.js') }}"></script>
<script src="{{ asset('assets/plugins/summernote/dist/summernote.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script src="{{ asset('assets/js/subview.js') }}"></script>
<script src="{{ asset('assets/js/subview-examples.js') }}"></script>
<!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<script src="{{ asset('assets/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
<script src="{{ asset('assets/plugins/nvd3/lib/d3.v3.js') }}"></script>
<script src="{{ asset('assets/plugins/nvd3/nv.d3.min.js') }}"></script>
<script src="{{ asset('assets/plugins/nvd3/src/models/historicalBar.js') }}"></script>
<script src="{{ asset('assets/plugins/nvd3/src/models/historicalBarChart.js') }}"></script>
<script src="{{ asset('assets/plugins/nvd3/src/models/stackedArea.js') }}"></script>
<script src="{{ asset('assets/plugins/nvd3/src/models/stackedAreaChart.js') }}"></script>
<script src="{{ asset('assets/plugins/jquery.sparkline/jquery.sparkline.js') }}"></script>
<script src="{{ asset('assets/plugins/easy-pie-chart/dist/jquery.easypiechart.min.js') }}"></script>
<script src="{{ asset('assets/js/index.js') }}"></script>
<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<!-- start: CORE JAVASCRIPTS  -->
<script src="{{ asset('assets/js/main.js') }}"></script>
<!-- end: CORE JAVASCRIPTS  -->
<script>
	jQuery(document).ready(function() {
		Main.init();
		SVExamples.init();
		Index.init();
	});
</script>