<!-- start: PAGESLIDE LEFT -->
<a class="closedbar inner hidden-sm hidden-xs" href="#">
</a>
<nav id="pageslide-left" class="pageslide inner">
	<div class="navbar-content">
		<!-- start: SIDEBAR -->
		<div class="main-navigation left-wrapper transition-left">
			<div class="navigation-toggler hidden-sm hidden-xs">
				<a href="#main-navbar" class="sb-toggle-left">
				</a>
			</div>
			<div class="user-profile border-top padding-horizontal-10 block">
				<div class="inline-block">
					<img src="{{ asset('assets/images/anonymous.jpg') }}" alt="">
				</div>
				<div class="inline-block">
					<h5 class="no-margin"> Welcome </h5>
					<h4 class="no-margin"> {{app.user.complete_name}} </h4>
				</div>
			</div>
			<!-- start: MAIN NAVIGATION MENU -->
			<ul class="main-navigation-menu">
				<li class="active open">
					<a href="/admin"><i class="fa fa-home"></i> <span class="title"> Dashboard </span> </a>
				</li>
				<li>
					<a href="javascript:void(0)"><i class="fa fa-users"></i> <span class="title"> Team </span><i class="icon-arrow"></i> </a>
					<ul class="sub-menu">
						<li>
							<a href="/admin/invite_users">
								<span class="title"> Invite team members </span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- end: MAIN NAVIGATION MENU -->
		</div>
		<!-- end: SIDEBAR -->
	</div>
	<div class="slide-tools">
		<div class="col-xs-6 text-left no-padding">
			<a class="btn btn-sm status" href="#">
				Status <i class="fa fa-dot-circle-o text-green"></i> <span>Online</span>
			</a>
		</div>
		<!--<div class="col-xs-6 text-right no-padding">
			<a class="btn btn-sm log-out text-right" href="/logout">
				<i class="fa fa-power-off"></i> Log Out
			</a>
		</div>-->
	</div>
</nav>
<!-- end: PAGESLIDE LEFT -->