<!DOCTYPE html>
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {{ include('rapido/head.html.twig') }}
    <body>
        {{ include('rapido/topSideBar.html.twig') }}
        {{ include('rapido/leftSidebar.html.twig') }}
    {% block body %}{% endblock %}
    {{ include('rapido/footer.html.twig') }}
    {{ include('rapido/javaScripts.html.twig') }}
</body>