<!DOCTYPE html>
<!-- Template Name: Rapido - Responsive Admin Template build with Twitter Bootstrap 3.x Version: 1.0 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
    <!--<![endif]-->

    <!-- start: HEAD -->
    <head>

        <title>{{ company_name }}</title>
        <!-- start: META -->
        <meta charset="utf-8" />
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- end: META -->
        <!-- start: MAIN CSS -->
        <link rel="stylesheet"
              href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet"
              href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/animate.css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/iCheck/skins/all.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styles-responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/iCheck/skins/all.css') }}">
        <!--[if IE 7]>
                        <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome/css/font-awesome-ie7.min.css') }}">
                        <![endif]-->
        <!-- end: MAIN CSS -->
        <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
        <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    </head>
    <!-- end: HEAD -->

    <!-- start: BODY -->
    <body class="login">
        <div class="row">
            <div
                class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                <div class="logo">
                    <a href="/"><img src="{{ asset('assets/images/logo.png') }}"></a>
                </div>
                <!-- start: FORGOT BOX -->
                <div class="box">
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}

                    <!-- start: COPYRIGHT -->
                    <div class="copyright">2015 &copy; {{ company_name }}</div>
                    <!-- end: COPYRIGHT -->
                </div>
                <!-- end: BOX -->

                <!-- start: FORGOT BOX -->
                <div class="box-forgot" data-box="forgot">
                    <h3>Forget Password?</h3>
                    <p>Enter your e-mail address below to reset your password.</p>
                    <form class="form-forgot fos_user_resetting_request" action="/resetting/send-email" method="POST">
                        <div class="errorHandler alert alert-danger no-display">
                            <i class="fa fa-remove-sign"></i> You have some form errors. Please
                            check below.
                        </div>
                        <fieldset>
                            <div class="form-group">
                                <span class="input-icon"> <input type="email"
                                                                 class="form-control" id="username" name="username" placeholder="Email"> <i
                                                                 class="fa fa-envelope"></i>
                                </span>
                            </div>
                            <div class="form-actions">
                                <a class="btn btn-light-grey go-back change" href="/login"> <i
                                        class="fa fa-chevron-circle-left"></i> Log-In
                                </a>
                                <button type="submit" class="btn btn-green pull-right">
                                    Submit <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </fieldset>
                    </form>
                    <!-- start: COPYRIGHT -->
                    <div class="copyright">2015 &copy; {{ company_name }}</div>
                    <!-- end: COPYRIGHT -->
                </div>
                <!-- end: FORGOT BOX -->

            </div>
        </div>

        <!-- start: MAIN JAVASCRIPTS -->
        <!--[if lt IE 9]>
                        <script src="{{ asset('assets/plugins/respond.min.js') }}"></script>
                        <script src="{{ asset('assets/plugins/excanvas.min.js') }}"></script>
                        <script type="text/javascript" src="{{ asset('assets/plugins/jQuery/jquery-1.11.1.min.js') }}"></script>
                        <![endif]-->
        <!--[if gte IE 9]><!-->
        <script src="{{ asset('assets/plugins/jQuery/jquery-2.1.1.min.js') }}"></script>
        <!--<![endif]-->
        <script src="{{ asset('assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/iCheck/jquery.icheck.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/jquery.transit/jquery.transit.js') }}"></script>
        <script src="{{ asset('assets/plugins/TouchSwipe/jquery.touchSwipe.min.js') }}"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
        <!-- end: MAIN JAVASCRIPTS -->
        <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script
        src="{{ asset('assets/plugins/jquery-validation/dist/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('assets/js/login.js') }}"></script>
        <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script>
            jQuery(document).ready(function () {
                Main.init();
                Login.init();
            });
        </script>

    </body>
    <!-- end: BODY -->
</html>