<h1>Reset Password</h1>
<br />
<p>Hello {{ username }}</p>
<p>To reset your password - please visit:</p>
<p><a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>
<br />
<p>Regards, the {{ company }} Team.</p>
