<h1>Welcome to {{ company }}</h1>
<br />
<p>Hello {{ username }}</p>
<p>To verify your email just follow the next link:</p>
<p><a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>
<br />
<p>Regards, the {{ company }} Team.</p>
