<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset  form-horizontal">
    <div class="form-group">
            <div class="col-sm-12">
                <span class="input-icon"> <input type="password" class="form-control required" placeholder="{{ 'form.new_password'|trans({}, 'FOSUserBundle') }}" id="fos_user_resetting_form_new_first" name="fos_user_resetting_form[new][first]" required="required">
                    <i class="fa fa-lock"></i>
                </span>    
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <span class="input-icon"> <input type="password" class="form-control required" placeholder="{{ 'form.new_password_confirmation'|trans({}, 'FOSUserBundle') }}" id="fos_user_resetting_form_new_second" name="fos_user_resetting_form[new][second]" required="required">
                    <i class="fa fa-lock"></i>
                </span>    
            </div>
        </div>
    {{ form_widget(form._token) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-green pull-right">
            {{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }} <i class="fa fa-arrow-circle-right"></i>
        </button>
    </div>
</form>
