{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <!-- start: REGISTER BOX -->

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <h3>Sign Up</h3>
    <p>Enter your personal details below:</p>

    {% include "FOSUserBundle:Registration:register_content.html.twig" %}

    <!-- end: REGISTER BOX -->

{% endblock fos_user_content %}