<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-register form-horizontal">
    <div class="errorHandler alert alert-danger no-display">
        <i class="fa fa-remove-sign"></i> You have some form errors. Please
        check below.
    </div>
    <fieldset>
        <div class="form-group">
            <div class="col-sm-6">
                <span class="input-icon"> <input type="text" class="form-control required" placeholder="First Name" id="fos_user_registration_form_first_name" name="fos_user_registration_form[first_name]" required="required">
                    <i class="fa fa-asterisk"></i>
                </span> 
            </div>
            <div class="col-sm-6">
                <span class="input-icon"> <input type="text" class="form-control required" placeholder="Last Name" id="fos_user_registration_form_last_name" name="fos_user_registration_form[last_name]" required="required">
                    <i class="fa fa-asterisk"></i>
                </span> 
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <span class="input-icon"> <input type="text" class="form-control required" placeholder="Company Name" id="fos_user_registration_form_company_name" name="fos_user_registration_form[company_name]" required="required">
                    <i class="fa fa-briefcase"></i>
                </span>  
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <span class="input-icon"> <input type="email" class="form-control required" placeholder="{{ 'form.email'|trans({}, 'FOSUserBundle') }}" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required">
                    <i class="fa fa-user"></i>
                </span>  
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <span class="input-icon"> <input type="password" class="form-control required" placeholder="{{ 'form.password'|trans({}, 'FOSUserBundle') }}" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required">
                    <i class="fa fa-lock"></i>
                </span>    
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <span class="input-icon"> <input type="password" class="form-control required" placeholder="{{ 'form.password_confirmation'|trans({}, 'FOSUserBundle') }}" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required">
                    <i class="fa fa-lock"></i>
                </span>    
            </div>
        </div>

        {{ form_widget(form._token) }}
        <div class="form-actions">
            Already have an account? <a class="change" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            <button type="submit" class="btn btn-green pull-right">
                {{ 'registration.submit'|trans({}, 'FOSUserBundle') }} <i class="fa fa-arrow-circle-right"></i>
            </button>
        </div>
    </fieldset>
</form>
